body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar and User Forms */
/* .Navbar{
  position: absolute;
  width: 100%;
  display: flex;
  left: 0px;
  top: 0px;
  background-color: rgb(47, 160, 108);
  justify-content: space-between;
  align-items: center;
}
.Navbar h1{
  color: azure;
}*/
.Login{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight:bold;
}
.Login input{
  background-color: darkgrey;
}
.Login button, .productsBody button{
  font-weight:bold;
  background-color: darkgrey;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-bottom:3px solid rgb(71, 71, 71);
  border-right:3px solid rgb(71, 71, 71);
}
.Login button:hover, .productsBody button:hover{
  background-color: rgb(47, 160, 108);
  color: azure;
  box-shadow: 1px 1px 1px rgb(100, 100, 100);
  border-bottom:2px solid rgb(18, 61, 41);
  border-right:2px solid rgb(18, 61, 41);
}

/* @media only screen and (max-width: 600px) {
  .Navbar h1{
    font-size: 0%;
  }
}  */
/* Navbar and User Forms End */
/* Exit Button */

.exit{
  margin-left: 98%;
  border: solid;
  background-color: salmon;
  border-radius: 50%;
  padding: 1px;
}