body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar and User Forms */
.Navbar{
  position: absolute;
  width: 100%;
  height: 143px;
  left: 0px;
  top: 0px;
  background-color: darkgray;  
}
.Login{
  display: flex;
  flex-direction: column;
}
/* Navbar and User Forms End */