body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 92px; 
  background-image: url('https://media2.giphy.com/media/32aOhKvgdJ1mH6zdv8/giphy.gif?cid=ecf05e47j6gc8taay8guu4366ai0p7p2oupicyfq81bgxlcx&rid=giphy.gif&ct=g');
  background-size: cover;
  height: 100vh;
  /* background-repeat: no-repeat; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.containMe{
  margin: 0 200px;
}
.containMe p{
  text-align: center;
}
 @media only screen and (max-width: 600px) {
  .containMe{
    margin: 0 20px;
  }
} 
.Login{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight:bold;
}
.Login input{
  background-color: darkgrey;
}
.Login button, .productsBody button{
  font-weight:bold;
  background-color: darkgrey;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-bottom:3px solid rgb(71, 71, 71);
  border-right:3px solid rgb(71, 71, 71);
}
.Login button:hover, .productsBody button:hover{
  background-color: rgb(47, 160, 108);
  color: azure;
  box-shadow: 1px 1px 1px rgb(100, 100, 100);
  border-bottom:2px solid rgb(18, 61, 41);
  border-right:2px solid rgb(18, 61, 41);
}


/* Navbar and User Forms End */
/* Exit Button */

.exit{
  margin-left: 98%;
  border: solid;
  background-color: salmon;
  border-radius: 50%;
  padding: 1px;
}