.cart-header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productsBody {
    display: flex;
    justify-content: center;
}

.productContainer {
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    width: 400px;
    margin: 10px;
}

.productImg {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    max-height: 100px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: flex-start;
    padding: 15px;
    border: solid 1px lightgrey;
    margin: 5px;
}

.total-price {
    text-align: center;
}

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .centered {
    /* position: fixed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .whiteBackground {
    background-color: white;
    width: 400px;
    padding: 15px;
  }
