.cart-header {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartBody {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.cartContainer {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 5px;
    width: 400px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.productImg {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 5px;
    max-height: 100px;
}

.cartInfo {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    padding: 15px;
    margin: 5px;
}

.total-price {
    text-align: center;
}

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .centered {
    /* position: fixed; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .whiteBackground {
    background-color: white;
    width: 400px;
    padding: 15px;
  }
