.productsBody{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productContainer{
  display: flex;
  padding: 10px;
  justify-content: right;
  border-radius: 5px;
  width: 400px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.productImg{
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  max-height: 100px;
}

.productInfo{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: right;
  padding: 15px;
  margin: 5px;
}

.margin2px {
  margin: 2px;
}

.italic {
  font-style: italic;
}

.deleteButton {
  /* background-color: rgb(173, 173, 173); */
}

