.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.single-user {
    height: 310px;
    width: 360px;
    text-align: center;
    background-color: grey;
    border-radius: 30px;
    padding: 10px;
    overflow: scroll
}

.user-pic {
    height: 100px;
    width: 100px;
    margin-top: 10px;
}

.user::-webkit-scrollbar {
    display: none
}

button {
    border: none;
    border-radius: 10px;
    margin: 5px;
}

.back-button:hover {
    background-color: grey;
    color: white;
    transition: 0.3s
}

.edit-button {
    background-color: red;
    color: white;
    width: 50px;
}

.edit-button:hover {
    background-color: crimson;
    transition: 0.3s
}

.delete-button {
    width: 50px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}

.delete-button:hover {
    background-color: crimson;
    transition: 0.3s
}